fastapi[all]>=0.119.0
langchain>=0.3.27
langchain-openai>=0.3.35
openai>=1.99.0
requests>=2.32.5
psycopg2-binary>=2.9.11
pydantic-settings>=2.11.0
python-dotenv>=1.1.1
sqlalchemy>=2.0.44
uvicorn>=0.37.0